/* primeiras propriedades: Lembrando que o asterisco pega o site todo*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  
  body{
    font-family: 'Roboto', sans-serif ; /*'Roboto', sans-serif*/
    margin: 0;
  }
  
  li {
    /* retirando as bolinhas das nossas listas */
    list-style: none;
  }
  
  .header-menu{
    
    display: flex;
    position: fixed; /*Deixa o nosso header fixo*/
    width: 100%; /*Largura*/
    padding: 8px; /*Espaçamento dos 4 lados*/
    padding-bottom: 32px; /*Espaçamento inferior*/
    padding-top: 32px;/*Espaçamento superior*/
    height: 60px; /*Altura*/
    background-color: rgb(0, 61, 0); 
  }
  
  .header-menu nav {
    display: flex; 
    justify-content: flex-end; /*Colocando no lado direito da pagina*/
    width: 100%; /*Largura*/
  }
  
  .lista-menu{
    display: flex;
    justify-content: space-evenly; 
    width: 50%; 
    align-items: center; /*Posicionando no centro*/
  }
  
  .lista-menu li>a {
    color: rgb(95, 243, 9); /*#FFF*/
    font-size: 18px;
    text-decoration: inherit;
  }
  
  .principal{
    height: 100vh;
    display: flex;
    background-color: #EAEAEA;/*rgb(109, 180, 109);*/
  }
  
  .container {
    margin-right: auto; /*uma margem automática para todos os lados  */
    margin-left: auto;
    margin-top: 75px; /*Margem para cima*/
    max-width: 960px; /*largura maxima*/
    padding-right: 10px; /* Espaçamento direito*/
    padding-left: 10px; /*Espaçamento esquerdo*/
    width: 100%; 
  }
  
  .subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .nome-completo {
    font-size: 36px;
    color: rgb(3, 83, 3) /*rgb(16, 150, 16) */;
    font-weight: 700; 
    height: 45px;
  }
  
  .profissao{
    color: rgb(226, 71, 15);
    height: 60px;
  }
  
  .texto-sobre {
    font-size: 20px;
    line-height: 32px; /*Espaçamento entre as linhas*/
  }
  
  .avatar{
    width: 250px;
    height: 250px ;
  }
  
  .meio{ /*parte da formação */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #6b7a6a73;/*#F4F3F0; rgb(209, 187, 159)*/
  }
  .article-lista{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  
  }
  
  .topico-principal{
    font-size:36px;
    color: #023d0c  ; /* rgb(15, 112, 15); #023d0c*/
  }
  
  .lista-item ul li{
    padding: 32px; 
  }
  
  .lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color: rgb(15, 112, 15); /*#00ff2a*/
    font-weight: 700;
  }
  
  .lista-local{
    font-size: 18px;
    color: blue;
  }
  
  .lista-descricao{
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: black; /*#828282  #1a1919 */
    font-weight: 300;
  }
  
 /* .port{  parte do projetos
    height: 125vh;
    display: flex;
    background-color: #EAEAEA;
  }*/
  
  .rodape{
    background-color: rgb(0, 61, 0); /*darkgreen;*/
    height: 30vh;
    display: flex;
    align-items: center;
  }
  
  .lista-rodape li{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  
  .lista-localrodape{
    font-size: 18px;
    color: rgb(95, 243, 9);
  }
  
  .estilo-icone{
    font-size: 32px;
    margin-right: 10px;
 }

   .botao{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: rgb(95, 243, 9);
    }